@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* common */
* {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

:root {
  --scrollbar-color: #7a7a7a;
  --border-color: #efefef;
  --border-shadow: #D3D3D3;
  --nav-border-color: #CACACA;
  --content-background: #F0F2F5;
  --highlight-color: #4C3F91;
  --primary-text: #050505;
  --secondary-text: #65676B;
  --menu-accent: #1676F3;
  --menu-selected-background: #E7F3FF;
  --menu-color-hover: #F0F2F5;
  --devider: #CED0D4;
  --switch-background: #D8D4D4;
  --dark-mode-background-1: #242526;
  --dark-mode-background-2: #18191A;
  --dark-mode-text: #E4E6EB;
  --dark-mode-border: #3E4042;
}

html {
  display: flex;
  justify-content: center;
  color: var(--primary-text);
}

body {
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 2em;
  padding: 6px 0;
}

p {
  padding: 4px 0;
}

/* scrollbar */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-color) white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
  border: 3px solid white;
}

/* dark mode */
.dark-mode {
  background-color: var(--dark-mode-background-1);
}

/* header */
#top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -3px 9px 0 var(--border-shadow);
  z-index: 1;
}

#top-nav .dark-mode {
  background-color: var(--dark-mode-background-1);
}

#top-nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
}

#top-nav ul li {
  width: 100px;
  height: 56px;
  display: inherit;
  cursor: pointer;
}

#top-nav ul li a {
  text-decoration: none;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 56px;
  font-weight: 700;
  color: var(--primary-text);
  transition: 0.3s color;
}

#top-nav ul li:hover a {
  color: var(--menu-accent);
}

/* main */
main {
  width: 900px;
  margin: 0 auto;
}

#cover {
  height: 260px;
  margin-left: -50px;
  z-index: 0;
}

#cover img {
  height: 300px;
  width: 1000px;
  border-radius: 0 0 8px 8px;
}

#profile {
  padding: 4px 10px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid var(--nav-border-color);
}

#name {
  padding: 64px 0 0 14px;
}

#name :nth-child(2) {
  color: var(--secondary-text);
}

#name :nth-child(4) {
  display: block;
  height: 40px;
  position: relative;
  background-color: white;
  margin: -45px 0 0 26px;
}

/* audio */
#music-player {
  margin: -4px 0 0 -20px;
}

audio::-webkit-media-controls-panel {
  background-color: white;
}

audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button {
  display: none;
}

#picture {
  height: 208px;
  width: 208px;
  border-radius: 50%;
  cursor: pointer;
}

#picture img {
  height: 200px;
  width: 200px;
  border: 4px solid white;
  border-radius: 50%;
}

.picture-large {
  height: 610px;
  width: 610px;
  position: fixed;
  display: none;
  top: 20vh;
  left: 0;
  transform: translate(calc(50vw - 50%));
  border: 2px solid var(--border-color);
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 9999px;
  animation: 0.4s pictureAnimation;
  z-index: 1;
}

.picture-large #pic-large {
  height: 600px;
  width: 600px;
  padding: 5px 0 0 5px;
  margin-top: -54px;
  z-index: 1;
}

.picture-large #close-profile-btn {
  height: 30px;
  width: 30px;
  position: relative;
  margin: 20px 0 0 calc(620px - 56px);
  z-index: 9999;
  cursor: pointer;
}

@keyframes pictureAnimation {
  0% {
    opacity: 0;
    margin-top: -50px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

#menu-nav {
  width: 100vw;
  margin-left: calc((-1) * (50vw - 450px));
  background-color: white;
}

#menu-wrap {
  display: flex;
  flex-direction: row;
  padding-left: calc(50% - 450px);
  border-bottom: 1px solid var(--nav-border-color);
}

#menu-wrap div {
  height: 56px;
  width: 100px;
  display: inherit;
  justify-content: center;
  align-items: center;
  transition: 0.3s background-color;
  cursor: pointer;
}

.menu {
  color: var(--secondary-text);
  font-weight: 700;
}

#menu-1 {
  color: var(--menu-accent);
}

#menu-slider {
  width: 100px;
  height: 3px;
  margin-top: -3px;
  background: var(--menu-accent);
  z-index: 99;
  transition: 0.3s;
}

#contents {
  width: 100vw;
  margin-left: calc((-1) * (50vw - 450px));
  background-color: var(--content-background);
}

.content-wrap {
  width: 900px;
  min-height: calc(100vh - 620px);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 12px 0;
}

.content-box {
  width: 428px;
  min-height: 200px;
  background-color: white;
  border-radius: 10px;
  padding: 14px 18px;
  margin: 0 5px;
  box-shadow: 0 1px 2px 0 var(--border-shadow);
}

#content-1 {
  width: 900px;
  display: inherit;
  flex-direction: inherit;
}

#feed {
  padding: 8px 2px 0 2px;
}

#feed h3 {
  font-size: 1.12em;
  padding: 8px 0;
}

#feed-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#feed-info img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding-right: 8px;
}

#feed-writer p {
  font-size: 0.96em;
  padding: 1px 0;
}

#feed-writer :nth-child(2) {
  font-size: 0.8em;
  color: var(--secondary-text);
}

#content-2 {
  width: 900px;
  display: none;
}

.info-wrap {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 1px 2px 0 var(--border-shadow);
}

.info-selector {
  width: 25%;
  min-height: inherit;
  border-right: 1px solid var(--devider);
}

.info-selector h3 {
  padding: 10px 0 8px 10px;
  color: var(--primary-text);
}

.info-selector ul {
  list-style: none;
  margin-right: 4px;
}

.info-selector ul li {
  padding: 10px 10px;
  margin: 2px 0;
  border-radius: 5px;
  background-color: white;
  color: var(--secondary-text);
  font-weight: 600;
  cursor: pointer;
}

.info-selector ul li:hover {
  background-color: var(--menu-color-hover);
}

.info-selector ul li:first-child {
  color: var(--menu-accent);
  background-color: var(--menu-selected-background);
}

.info-content {
  width: 75%;
  padding: 6px 8px;
  display: flex;
  flex-direction: column;
}

.info-section {
  display: inherit;
  flex-direction: column;
}

.info-section h4 {
  padding: 10px 0 3px 5px;
}

#info-2, #info-3, #info-4, #info-5 {
  display: none;
}

.information-box {
  display: inherit;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}

.information-box img {
  width: 24px;
  height: 24px;
  padding: 6px;
}

#work-edu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.info-content p:nth-child(1) {
  font-size: 0.96em;
}

.info-content p:nth-child(n+2) {
  font-size: 0.8em;
  padding: 1px 0;
  color: var(--secondary-text);
}

.info-content p:nth-child(3) {
  padding: 8px 0 1px;
}

#contact {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 10px;
}

#contact img {
  padding: 10px 6px 6px;
}

.info-content #info-p {
  padding: 6px 0 2px;
}

.info-content a {
  text-decoration: none;
  color: var(--primary-text);
}

.info-content a:hover {
  text-decoration-line: underline;
}

.tmi-box {
  padding: 4px 0;
}

.tmi-box ul {
  list-style: circle inside;
  font-size: 0.93em;
  padding: 4px 12px;
}

.tmi-box ul li {
  padding: 6px 0;
}

#languages {
  display: flex;
  flex-direction: row;
}

#languages section {
  width: 50%;
}

.language-box {
  display: flex;
  flex-direction: row;
  padding: 6px 8px;
}

.language-box img {
  width: 40px;
  height: 40px;
  padding: 5px;
}

#content-3 {
  width: 900px;
  display: none;
}

#gallery-wrap {
  display: flex;
  flex-direction: column;
}

.gallery {
  display: flex;
  flex-direction: row;
}

.gallery-box {
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 0 5px 10px;
  box-shadow: 0 1px 2px 0 var(--border-shadow);
  cursor: pointer;
}

.gallery-box img {
  width: 280px;
  height: 280px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.gallery-box p,
.gallery-box span {
  display: none;
}

.gallery-box:hover img {
  opacity: 0.3;
}

.gallery-box:hover p {
  display: block;
  position: absolute;
}

.gallery-large {
  height: 740px;
  width: 630px;
  position: fixed;
  display: none;
  top: 11vh;
  left: 0;
  transform: translate(calc(50vw - 50%));
  border: 2px solid var(--border-color);
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 9999px;
  animation: 0.4s pictureAnimation;
}

.gallery-large #gallery-large-img {
  height: 600px;
  width: 600px;
  padding: 10px 15px 0;
  margin-top: -56px;
  z-index: 1;
}

#gallery-large-summary {
  padding: 12px 28px;
  word-break: keep-all;
}

.gallery-large #close-gallery-btn {
  height: 30px;
  width: 30px;
  position: relative;
  margin: 28px 0 0 calc(620px - 44px);
  z-index: 9999;
  cursor: pointer;
}

/* dark mode switch */
.dark-mode-switch {
  position: fixed;
  bottom: 16px;
  right: 12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
  margin: 0 4px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--switch-background);
  border-radius: 26px;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px var(--border-shadow);
  z-index: 1;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
  z-index: 999;
}

input:checked+.slider {
  background-color: black;
}

input:checked+.slider:before {
  transform: translateX(20px);
}

#icon {
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
}

#icon p {
  padding: 2px;
}

#popup-sign {
  position: fixed;
  bottom: 50px;
  right: 16px;
  background-color: white;
  padding: 8px 12px;
  border: 2px dashed var(--highlight-color);
  border-radius: 28px;
  font-weight: 700;
  display: none;
  animation: fadeOut 1s 1.5s 1;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

/* footer */
footer {
  text-align: center;
  color: gray;
  font-size: 0.9em;
  padding: 10px 0;
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  #top-nav ul {
    padding-left: 4%;
  }

  main {
    width: 92%;
    margin: 0 auto;
  }

  .grid-container {
    width: 80%;
    display: block;
  }

  .grid-container section {
    height: 150px;
    padding: 0 4px;
  }

  footer {
    text-align: center;
    font-size: 0.8em;
  }
}

/* mobile */
@media (max-width: 768px) {
  #top-nav ul {
    padding-left: 4%;
  }

  main {
    width: 92%;
    margin: 0 auto;
  }

  .grid-container {
    display: block;
  }

  footer {
    text-align: center;
    font-size: 0.8em;
  }
}