@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");

/* common */
* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans KR", sans-serif;
}

:root {
  --scrollbar-color: #7a7a7a;
  --border-color: #efefef;
  --border-shadow: #D3D3D3;
  --nav-border-color: #CACACA;
  --content-background: #F0F2F5;
  --secondary-color: #65676B;
  --hover-pink: #FBC5C5;
  --menu-color: #4C3F91;
  --devider: #CED0D4;
}

html {
  display: flex;
  justify-content: center;
}

body {
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 2em;
}

p {
  padding: 2px 0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-color) white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
  border: 3px solid white;
}

/* header */
#top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -3px 9px 0 var(--border-shadow);
}

#top-nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
}

#top-nav ul li {
  width: 100px;
  height: 56px;
  display: inherit;
  justify-content: inherit;
  align-items: center;
  cursor: pointer;
}

#top-nav ul li a {
  text-decoration: none;
  color: black;
  transition: 0.3s color;
}

#top-nav ul li:hover a {
  color: var(--hover-pink);
}

/* main */
main {
  width: 900px;
  margin: 0 auto;
}

#cover {
  height: 260px;
  margin-left: -50px;
  z-index: 0;
}

#cover img {
  height: 300px;
  width: 1000px;
  border-radius: 0 0 8px 8px;
}

#profile {
  padding: 4px 10px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid var(--nav-border-color);
}

#name {
  padding: 30px 0 0 14px;
}

#name :nth-child(2) {
  color: var(--secondary-color);
}

#picture {
  height: 208px;
  width: 208px;
  border-radius: 50%;
  cursor: pointer;
}

#picture img {
  height: 200px;
  width: 200px;
  border: 4px solid white;
  border-radius: 50%;
}

.picture-large {
  height: 610px;
  width: 610px;
  position: fixed;
  display: none;
  top: 20vh;
  left: 0;
  transform: translate(calc(50vw - 50%));
  border: 2px solid var(--border-color);
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 9999px;
  animation: 0.4s pictureAnimation;
}

.picture-large #pic-large {
  height: 600px;
  width: 600px;
  padding: 5px 0 0 5px;
  margin-top: -56px;
  z-index: 1;
}

.picture-large #close-btn {
  height: 30px;
  width: 30px;
  position: relative;
  margin: 20px 0 0 calc(620px - 56px);
  z-index: 9999;
  cursor: pointer;
}

@keyframes pictureAnimation {
  0% {
    opacity: 0;
    margin-top: -50px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

#menu-nav {
  width: 100vw;
  margin-left: calc((-1) * (50vw - 450px));
  background-color: white;
}

#menu-wrap {
  display: flex;
  flex-direction: row;
  padding-left: calc(50% - 450px);
  border-bottom: 1px solid var(--nav-border-color);
}

#menu-wrap div {
  height: 56px;
  width: 100px;
  display: inherit;
  justify-content: center;
  align-items: center;
  transition: 0.3s background-color;
  cursor: pointer;
}

#menu-1 {
  color: var(--menu-color);
}

#menu-slider {
  width: 100px;
  height: 3px;
  margin-top: -3px;
  background: var(--menu-color);
  z-index: 99;
  transition: 0.3s;
}

#contents {
  width: 100vw;
  margin-left: calc((-1) * (50vw - 450px));
  background-color: var(--content-background);
}

.content-wrap {
  width: 900px;
  min-height: calc(100vh - 620px);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 12px 0;
}

.content-box {
  width: 428px;
  min-height: 200px;
  background-color: white;
  border-radius: 10px;
  padding: 14px 18px;
  margin: 0 5px;
  box-shadow: 0 1px 2px 0 var(--border-shadow);
}

#content-1 {
  width: 900px;
  display: inherit;
  flex-direction: inherit;
}

#feed {
  padding: 8px 2px 0 2px;
}

#feed h3 {
  padding: 4px 0;
}

#feed-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#feed-info img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding-right: 8px;
}

#feed-writer p {
  padding: 0;
}

#feed-writer :nth-child(2) {
  font-size: 0.8em;
  color: var(--secondary-color);
}

#content-2 {
  width: 900px;
  display: none;
}

.info-box {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 1px 2px 0 var(--border-shadow);
}

#info-selector {
  width: 25%;
  min-height: inherit;
  border-right: 1px solid var(--devider);
}

#info-content {
  width: 75%;
}

#content-3 {
  width: 900px;
  display: none;
}

#gallery-wrap {
  display: flex;
  flex-direction: column;
}

.gallery {
  display: flex;
  flex-direction: row;
}

.gallery-box {
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 0 5px 10px;
  box-shadow: 0 1px 2px 0 var(--border-shadow);
  cursor: pointer;
}

.gallery-box img {
  width: 280px;
  height: 280px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.gallery-box p {
  display: none;
}

.gallery-box:hover img {
  opacity: 0.3;
}

.gallery-box:hover p {
  display: block;
  position: absolute;
}

.gallery-large {
  height: 610px;
  width: 610px;
  position: fixed;
  display: none;
  top: 20vh;
  left: 0;
  transform: translate(calc(50vw - 50%));
  border: 2px solid var(--border-color);
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 9999px;
  animation: 0.4s pictureAnimation;
}

.gallery-large #gallery-large-img {
  height: 600px;
  width: 600px;
  padding: 5px 0 0 5px;
  margin-top: -56px;
  z-index: 1;
}

.gallery-large #close-btn {
  height: 30px;
  width: 30px;
  position: relative;
  margin: 20px 0 0 calc(620px - 56px);
  z-index: 9999;
  cursor: pointer;
}

/* footer */
footer {
  text-align: center;
  color: gray;
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  #top-nav ul {
    padding-left: 4%;
  }

  main {
    width: 92%;
    margin: 0 auto;
  }

  .grid-container {
    width: 80%;
    display: block;
  }

  .grid-container section {
    height: 150px;
    padding: 0 4px;
  }

  footer {
    text-align: center;
    font-size: 0.8em;
  }
}

/* mobile */
@media (max-width: 768px) {
  #top-nav ul {
    padding-left: 4%;
  }

  main {
    width: 92%;
    margin: 0 auto;
  }

  .grid-container {
    display: block;
  }

  footer {
    text-align: center;
    font-size: 0.8em;
  }
}